html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Fonte geral da tabela */
.table-contatos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333333;
    border-collapse: collapse;
    width: 100%;
}

/* Cabeçalho da tabela */
.table-contatos th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Linhas da tabela */
.table-contatos td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Efeito hover */
.table-contatos tr:hover {
    background-color: #f2f2f2;
}
